/* Stiziles */

html, body {
    background: #111;
    width: 100%;
    height: 100%;
}

#content {
    width: 100%;
    height: 100%;
    background: #111;

}

/* main */

.route {
    width: 100%;
    height: 100%;

    color: #111;

    transform-style: preserve-3d;

}


.route > div {

    transition-delay: 150ms;
    transition: all .5s ease;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    background: #eee;

}


/* transitions */

.fade-enter {
    transform: translateY(100%) translateZ(100px);
}

.fade-enter.fade-enter-active {
    transform: translateY(0) translateZ(100px);
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transform: scale(1) translateZ(0px);
}

.fade-leave.fade-leave-active {
    opacity: 0.5;
    transform: scale(0.8) translateZ(0px);
}
